In [1]:
#Python Functions Exercises2

# Warmup 1
#LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, 
#but returns the greater if one or both numbers are odd
#lesser_of_two_evens(2,4) --> 2
#lesser_of_two_evens(2,5) --> 5

def lesser_of_two_evens(a,b):
    
    #check if both numbers are even
    if a %2 == 0 and b %2 == 0:
        
        # return the lesser of two given numbers
        return min(a,b)
    
    # return the greater one if both nmumbers odd
    else:
        return max(a,b)

In [14]:
#Python Functions Exercises2

# ANSWER - Warmup 1
#LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, 
#but returns the greater if one or both numbers are odd
#lesser_of_two_evens(2,4) --> 2
#lesser_of_two_evens(2,5) --> 5

def lesser_of_two_evens(a,b): 
    
    if a%2 == 0 and b%2 == 0:
        #BOTH NuMBERS ARE EVEN!
        # return the lesser of two given numbers
        if a < b:
            result = a
        else:
            result = b 
    else:
        # ONE OR BOTH NUMBERS ARE ODD!
        if a > b:
            result =a
        else:
            result =b
     
    return result

In [15]:
lesser_of_two_evens(2,4)

2

In [16]:
lesser_of_two_evens(2,5)

5

In [6]:
# Warmup 2
# ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter¶
# animal_crackers('Levelheaded Llama') --> True
# animal_crackers('Crazy Kangaroo') --> False

def animal_crackers(twowordstring):
    
    #split the two words in the string
    words = twowordstring.split()
    
    #create list of first character in each word
    letters = [word[0] for word in words]
  
    #compare first letter to see if they are the same
    if letters[0] == letters[1]:

    #if both word words begin with same letter - return True
        return True
    
    #else return false
    else:
        return False

In [22]:
#answer

# Warmup 2
# ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter¶
# animal_crackers('Levelheaded Llama') --> True
# animal_crackers('Crazy Kangaroo') --> False

def animal_crackers(twowordstring):
    
    #split the two words in the string after making lower case
    words = twowordstring.lower().split()
    
    # 0,1 refers to index of the word in the list
    # 0,0 refers to the index of the first letter in the word
    return words[0][0] == words[1][0]

In [23]:
animal_crackers('Levelheaded Llama')

True

In [24]:
animal_crackers('Crazy Kangaroo')

False

In [17]:
#Warmup exercise 3
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
#makes_twenty(20,10) --> True
#makes_twenty(12,8) --> True
# makes_twenty(2,3) --> False

def makes_twenty(a,b):
    if (a + b == 20) or (a == 20) or (b == 20):
        return True
    else:
        return False

In [27]:
#answer

#Warmup exercise 3
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
#makes_twenty(20,10) --> True
#makes_twenty(12,8) --> True
# makes_twenty(2,3) --> False

def makes_twenty(a,b):
    return (a + b) == 20 or a == 20 or b == 20
    return False

In [28]:
makes_twenty(20,10)

True

In [29]:
makes_twenty(2,3)

False

In [61]:
# Level 1.1 functions
#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
#old_macdonald('macdonald') --> MacDonald
#Note: 'macdonald'.capitalize() returns 'Macdonald'

def old_macdonald(name):
    #final name returned
    result = ""
    
    #make sure all letters are lowercase
    lname = name.lower()
    
    #capitalize first letter
    fname = lname.capitalize()
    
    #get first 3 letters and add to upper case forth letter then all the other letters
    result = fname[0:3] + fname[3].upper() + fname[4:]
    
    #return the changed name
    return result

In [32]:
#answer

# Level 1.1 functions
#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
#old_macdonald('macdonald') --> MacDonald
#Note: 'macdonald'.capitalize() returns 'Macdonald'

def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [34]:
# answer 2 - Upper

def old_macdonald(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [35]:
old_macdonald('macdonald')

'MacDonald'

In [73]:
#level 1.2 function

#MASTER YODA: Given a sentence, return a sentence with the words reversed
#master_yoda('I am home') --> 'home am I'
#master_yoda('We are ready') --> 'ready are We'
#Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

#>>> "--".join(['a','b','c'])
#>>> 'a--b--c'
#This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

#>>> " ".join(['Hello','world'])
#>>> "Hello world"

def master_yoda(text):
    #create variable for result and list for split words
    result=""
    ylist = []
    
    #split the words of the text
    ylist= text.split()
    
    #reorder words in list and join them
    result = "".join(ylist[2] +" "+ ylist[1] + " "+ylist[0])
    
    return result

In [36]:
#answer

def master_yoda(text):
    wordlist = text.split()
    reverse_word_list = wordlist[::-1]
    return ' '.join(reverse_word_list)

In [37]:
# Check
master_yoda('I am home')

'home am I'

In [75]:
# Check
master_yoda('We are ready')

'ready are We'

In [39]:
#level 1.3 ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
#almost_there(90) --> True
#almost_there(104) --> True
#almost_there(150) --> False
#almost_there(209) --> True
#NOTE: abs(num) returns the absolute value of a number

def almost_there(n):
    
    #check if n is in the range of 90-110 or 190-210, return True
    if n in range(90,111):
        return True
    if n in range(190,211):
        return True    
    #else return False
    else:
        return False

In [40]:
#answer

def almost_there(n):
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [41]:
# Check
almost_there(104)

True

In [42]:
# Check
almost_there(150)

False

In [43]:
# Check
almost_there(209)

True

In [56]:
# Level 2 Exercises - function

#FIND 33:
#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

#has_33([1, 3, 3]) → True
#has_33([1, 3, 1, 3]) → False
#has_33([3, 1, 3]) → False

#Does not work yet....

def has_33(nums):
    
    #get length of list
    length_nums = len(nums)
    
    #loop comparing list num 3 if next to another 3
    for i in range(length_nums - 1):
        current_item, next_item = nums[i], nums[i + 1]
        print(current_item, next_item)
        if current_item == 3 and next_item == 3:
            return True
        elif i == length_nums - 2:
            return False

In [57]:
# Check
has_33([1, 3, 3])

1 3
3 3

True

In [58]:
# Check
has_33([1, 3, 1, 3])

1 3
3 1
1 3

False

In [59]:
# Check
has_33([3, 1, 3])

3 1
1 3

False

In [61]:
# Check
has_33([1,7,8,9,0,3,8,8,9])

1 7
7 8
8 9
9 0
0 3
3 8
8 8
8 9

False

In [70]:
#Level 2.2
#PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
#paper_doll('Hello') --> 'HHHeeellllllooo'
#paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

def paper_doll(text):
    
    #create an empty string
    three_char = ""
    
    #for loop will get every character in sting
    for i in text:
    
        #add each character 3x to the existing string
        three_char = three_char + i + i + i
    return three_char

In [71]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [72]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [73]:
#level 2.3
#BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
#If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, 
#if the sum (even after adjustment) exceeds 21, return 'BUST'
#blackjack(5,6,7) --> 18
#blackjack(9,9,9) --> 'BUST'
#blackjack(9,9,11) --> 19

def blackjack(a,b,c):
    sum = a + b + c
    #if sum a+b+c < = 21 then return sum
    if sum < 21:
        return sum
    #if a or b or c == 11 and sum a+b+c > 21 then return sum -10
    if sum > 21 and a==11 or b==11 or c==11:
        return sum - 10
    #else > 21 return 'BUST'
    else:
        return 'BUST'

In [74]:
# Check
blackjack(5,6,7)

18

In [75]:
# Check
blackjack(9,9,9)

'BUST'

In [76]:
# Check
blackjack(9,9,11)

19

In [254]:
# level 2.4
#SUMMER OF '69: Return the sum of the numbers in the array, 
#except ignore sections of numbers starting with a 6 and extending to the next 9 
#(every 6 will be followed by at least one 9). Return 0 for no numbers.
#summer_69([1, 3, 5]) --> 9
#summer_69([4, 5, 6, 7, 8, 9]) --> 9
#summer_69([2, 1, 6, 9, 11]) --> 14

def summer_69(arr):
    
    #get length of array
    array_length = len(arr)
    
    #if no 6 in array, sum numbers in array
    if 6 not in arr:
        return sum(arr)
    
    #if 6 or 9 is in array, ignore these numbers and those between 6 and 9
    else:   
        index  = arr.index(6) 
        index2 = arr.index(9)
        
        #if 9 is at the end of the array, just print the array through but not including 6
        if index2 == array_length - 1:
            return sum(arr[0:index])

        # print all numbers up to but not including 6 added to numbers greater than 9 to the end of the list
        else:
            total =(sum(arr[0:index])) +  (sum(arr[index2 +1:array_length]))
            return total

In [255]:
# Check
summer_69([1, 3, 5])

9

In [256]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [257]:
# Check
summer_69([2, 1, 6, 9, 11])

14