In [ ]:
# Regular expressions  -re

In [1]:
import re

# List of patterns to search for
patterns = ['term1', 'term2']

# Text to parse
text = 'This is a string with term1, but it does not have the other term.'

for pattern in patterns:
    print('Searching for "%s" in:\n "%s"\n' %(pattern,text))
    
    #Check for match
    if re.search(pattern,text):
        print('Match was found. \n')
    else:
        print('No Match was found.\n')

Searching for "term1" in:
 "This is a string with term1, but it does not have the other term."

Match was found.

Searching for "term2" in:
 "This is a string with term1, but it does not have the other term."

No Match was found.

In [2]:
# List of patterns to search for
pattern = 'term1'

# Text to parse
text = 'This is a string with term1, but it does not have the other term.'

match = re.search(pattern,text)

type(match)

re.Match

In [3]:
# Show start of match - index start term1 in string
match.start()

22

In [4]:
# Show end - index end of last character term1 in string
match.end()

27

In [5]:
# Term to split on
split_term = '@'

phrase = 'What is the domain name of someone with the email: hello@gmail.com'

# Split the phrase
re.split(split_term,phrase)

['What is the domain name of someone with the email: hello', 'gmail.com']

In [6]:
# Returns a list of all matches
re.findall('match','test phrase match is in middle match')

['match', 'match']

In [8]:
# patterns - helper function

def multi_re_find(patterns,phrase):
    '''
    Takes in a list of regex patterns
    Prints a list of all matches
    '''
    for pattern in patterns:
        print('Searching the phrase using the re check: %r' %(pattern))
        print(re.findall(pattern,phrase))
        print('\n')

In [9]:
test_phrase = 'sdsd..sssddd...sdddsddd...dsds...dsssss...sdddd'

test_patterns = [ 'sd*',     # s followed by zero or more d's
                'sd+',          # s followed by one or more d's
                'sd?',          # s followed by zero or one d's
                'sd{3}',        # s followed by three d's
                'sd{2,3}',      # s followed by two to three d's
                ]

multi_re_find(test_patterns,test_phrase)

Searching the phrase using the re check: 'sd*'
['sd', 'sd', 's', 's', 'sddd', 'sddd', 'sddd', 'sd', 's', 's', 's', 's', 's', 's', 'sdddd']


Searching the phrase using the re check: 'sd+'
['sd', 'sd', 'sddd', 'sddd', 'sddd', 'sd', 'sdddd']


Searching the phrase using the re check: 'sd?'
['sd', 'sd', 's', 's', 'sd', 'sd', 'sd', 'sd', 's', 's', 's', 's', 's', 's', 'sd']


Searching the phrase using the re check: 'sd{3}'
['sddd', 'sddd', 'sddd', 'sddd']


Searching the phrase using the re check: 'sd{2,3}'
['sddd', 'sddd', 'sddd', 'sddd']

In [10]:
#character sets

test_phrase = 'sdsd..sssddd...sdddsddd...dsds...dsssss...sdddd'

test_patterns = ['[sd]',    # either s or d
                's[sd]+']   # s followed by one or more s or d

multi_re_find(test_patterns,test_phrase)

Searching the phrase using the re check: '[sd]'
['s', 'd', 's', 'd', 's', 's', 's', 'd', 'd', 'd', 's', 'd', 'd', 'd', 's', 'd', 'd', 'd', 'd', 's', 'd', 's', 'd', 's', 's', 's', 's', 's', 's', 'd', 'd', 'd', 'd']


Searching the phrase using the re check: 's[sd]+'
['sdsd', 'sssddd', 'sdddsddd', 'sds', 'sssss', 'sdddd']

In [11]:
# exclusion

test_phrase = 'This is a string! But it has punctuation. How can we remove it?'

In [12]:
re.findall('[^!.? ]+',test_phrase)

['This',
 'is',
 'a',
 'string',
 'But',
 'it',
 'has',
 'punctuation',
 'How',
 'can',
 'we',
 'remove',
 'it']

In [13]:
# character ranges
test_phrase = 'This is an example sentence. Lets see if we can find some letters.'

test_patterns=['[a-z]+',      # sequences of lower case letters
               '[A-Z]+',      # sequences of upper case letters
               '[a-zA-Z]+',   # sequences of lower or upper case letters
               '[A-Z][a-z]+'] # one upper case letter followed by lower case letters
                
multi_re_find(test_patterns,test_phrase)

Searching the phrase using the re check: '[a-z]+'
['his', 'is', 'an', 'example', 'sentence', 'ets', 'see', 'if', 'we', 'can', 'find', 'some', 'letters']


Searching the phrase using the re check: '[A-Z]+'
['T', 'L']


Searching the phrase using the re check: '[a-zA-Z]+'
['This', 'is', 'an', 'example', 'sentence', 'Lets', 'see', 'if', 'we', 'can', 'find', 'some', 'letters']


Searching the phrase using the re check: '[A-Z][a-z]+'
['This', 'Lets']

In [14]:
# escape codes

test_phrase = 'This is a string with some numbers 1233 and a symbol #hashtag'

test_patterns=[ r'\d+', # sequence of digits
                r'\D+', # sequence of non-digits
                r'\s+', # sequence of whitespace
                r'\S+', # sequence of non-whitespace
                r'\w+', # alphanumeric characters
                r'\W+', # non-alphanumeric
                ]

multi_re_find(test_patterns,test_phrase)

Searching the phrase using the re check: '\\d+'
['1233']


Searching the phrase using the re check: '\\D+'
['This is a string with some numbers ', ' and a symbol #hashtag']


Searching the phrase using the re check: '\\s+'
[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']


Searching the phrase using the re check: '\\S+'
['This', 'is', 'a', 'string', 'with', 'some', 'numbers', '1233', 'and', 'a', 'symbol', '#hashtag']


Searching the phrase using the re check: '\\w+'
['This', 'is', 'a', 'string', 'with', 'some', 'numbers', '1233', 'and', 'a', 'symbol', 'hashtag']


Searching the phrase using the re check: '\\W+'
[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' #']

In [15]:
#String io

import io

In [17]:
# Arbitrary String
message = 'This is just a normal string.'

In [18]:
# Use StringIO method to set as file object
f = io.StringIO(message)

In [19]:
#read string object using f
f.read()

'This is just a normal string.'

In [20]:
# write the string object - like an append
f.write(' Second line written to file like object')

40

In [21]:
# Reset cursor just like you would a file
f.seek(0)

0

In [22]:
# Read again
f.read()

'This is just a normal string. Second line written to file like object'

In [23]:
# Close the object when contents are no longer needed
f.close()

In [1]:
# Advanced Python Objects and Data Structures
#Timeit  - Timing your code - check the speed of your code

import timeit

In [2]:
'0-1-2-3-....-99'

'0-1-2-3-....-99'

In [3]:
time "-".join(str(n) for n in range(100))

Wall time: 0 ns

'0-1-2-3-4-5-6-7-8-9-10-11-12-13-14-15-16-17-18-19-20-21-22-23-24-25-26-27-28-29-30-31-32-33-34-35-36-37-38-39-40-41-42-43-44-45-46-47-48-49-50-51-52-53-54-55-56-57-58-59-60-61-62-63-64-65-66-67-68-69-70-71-72-73-74-75-76-77-78-79-80-81-82-83-84-85-86-87-88-89-90-91-92-93-94-95-96-97-98-99'

In [ ]:
#Section 16 - Advanced Python Obects and Data Structures
# Advanced Numbers
# Advanced Strings
# Advanced Sets
# Advanced Dictionaries = Advanced Lists -done
# Advanced Python Objects Test - Solution
#Section 17 - Bonus Material Introduction to GUIs

#Section 17 - Bonus Material Intro to GUIs 45min
# 9-Build-in functions
# Built in functions - Review AFTER Django and Flask tutorials - 9
# http://localhost:8889/tree/PythonProjects/Complete-Python-3-Bootcamp/09-Built-in%20Functions
# 17-Parallel Processing
# Flask tutorial /built in functions

#---------------------------------------

#Section 14 - Final Capstone Python Project:  week 4/6-12 mon-sun
# go to "Final Capstone Projects"
# click on "Final Capstone Project ideas.ipynb
# pick project finish in a day - small
# pick another project finish in a week - bigger
# Some projects have "Project Solutions" 
# Go to "Solution Links.md"

In [4]:
# Advanced numbers

# Hexadecimal
# Using the function hex() you can convert numbers into a hexadecimal format:

hex(246)

'0xf6'

In [5]:
hex(512)

'0x200'

In [ ]:
# Binary
# Using the function bin() you can convert numbers into their binary format.

In [6]:
bin(1234)

'0b10011010010'

In [7]:
bin(128)

'0b10000000'

In [8]:
bin(512)

'0b1000000000'

In [9]:
# Exponentials
#The function pow() takes two arguments, equivalent to x^y. With three arguments it is equivalent to (x^y)%z, but may be more efficient for long integers

pow(3,4)

81

In [10]:
pow(3,4,5)

1

In [11]:
# Absolute Value
# The function abs() returns the absolute value of a number.
abs(-3.14)

3.14

In [12]:
abs(3)

3

In [13]:
#Round
#The function round() will round a number to a given precision in decimal digits (default 0 digits). It does not convert integers to floats.

round(3,2)

3

In [14]:
round(395,-2)

400

In [15]:
round(3.1415926535,2)

3.14

In [17]:
# Advanced Strings
# String objects have a variety of methods we can use to save time and add functionality.

s = 'hello world'

# Capitalize first word in string
s.capitalize()

'Hello world'

In [18]:
s.upper()

'HELLO WORLD'

In [19]:
s.lower()

'hello world'

In [20]:
s

'hello world'

In [21]:
s = s.upper()
s

'HELLO WORLD'

In [22]:
s = s.lower()

In [23]:
s

'hello world'

In [25]:
#location and counting
s.count('o') # returns the number of occurrences, without overlap

2

In [26]:
s.find('o') # returns the starting index position of the first occurence

4

In [28]:
# Formatting
s.center(20,'z')

'zzzzhello worldzzzzz'

In [29]:
'hello\thi'.expandtabs() #expandtabs() method will expand tab notations \t into spaces:

'hello   hi'

In [30]:
# is check methods
s = 'hello'

In [31]:
s.isalnum()

True

In [32]:
s.islower()

True

In [33]:
s.isspace()

False

In [34]:
s.istitle()

False

In [35]:
s.isupper()

False

In [36]:
s.endswith('o')

True

In [37]:
# Built-in Reg. Expressions
s.split('e')

['h', 'llo']

In [38]:
s.partition('l')

('he', 'l', 'lo')

In [39]:
#Advanced sets
s = set()

In [40]:
#Add sets
s.add(1)

In [41]:
s.add(2)

In [42]:
s

{1, 2}

In [43]:
#Clear
s.clear()

In [44]:
s

set()

In [45]:
#Copy
s = {1,2,3}
sc = s.copy()

In [46]:
sc

{1, 2, 3}

In [47]:
s

{1, 2, 3}

In [48]:
s.add(4)

In [49]:
s

{1, 2, 3, 4}

In [50]:
sc

{1, 2, 3}

In [53]:
#Difference
#difference returns the difference of two or more sets. The syntax is:
#set1.difference(set2)
s.difference(sc)

{4}

In [54]:
#difference_update
#difference_update syntax is:

#set1.difference_update(set2)
#the method returns set1 after removing elements found in set2

In [55]:
s1 = {1,2,3}

In [56]:
s2 = {1,4,5}

In [57]:
s1.difference_update(s2)

In [58]:
s1

{2, 3}

In [59]:
#discard
#Removes an element from a set if it is a member. If the element is not a member, do nothing.

In [60]:
s

{1, 2, 3, 4}

In [61]:
s.discard(2)

In [62]:
s

{1, 3, 4}

In [63]:
#intersection and intersection_update
#Returns the intersection of two or more sets as a new set.(i.e. elements that are common to all of the sets.)

In [64]:
s1 = {1,2,3}

In [65]:
s2 = {1,2,4}

In [66]:
s1.intersection(s2)

{1, 2}

In [67]:
s1

{1, 2, 3}

In [68]:
s1.intersection_update(s2)

In [69]:
s1

{1, 2}

In [70]:
#isdisjoint
#This method will return True if two sets have a null intersection.

In [71]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [72]:
s1.isdisjoint(s2)

False

In [73]:
s1.isdisjoint(s3)

True

In [74]:
#issubset
#This method reports whether another set contains this set.

In [75]:
s1

{1, 2}

In [76]:
s2

{1, 2, 4}

In [77]:
s1.issubset(s2)

True

In [78]:
#issuperset
#This method will report whether this set contains another set.

In [79]:
s2.issuperset(s1)

True

In [80]:
s1.issuperset(s2)

False

In [81]:
#symmetric_difference and symmetric_update
#Return the symmetric difference of two sets as a new set.(i.e. all elements that are in exactly one of the sets.)

In [82]:
s1

{1, 2}

In [83]:
s2

{1, 2, 4}

In [84]:
s1.symmetric_difference(s2)

{4}

In [85]:
#union
#Returns the union of two sets (i.e. all elements that are in either set.)

In [86]:
s1.union(s2)

{1, 2, 4}

In [87]:
#update
#Update a set with the union of itself and others.

In [88]:
s1.update(s2)

In [89]:
s1

{1, 2, 4}