Calculator

In [5]:
2+1

3

In [6]:
2-1

1

In [7]:
2*2

4

In [8]:
3/2

1.5

Modulo or "Mod" Operator

In [9]:
7/4

1.75

In [10]:
7 % 4

3

In [11]:
50 % 5

0

In [12]:
23 % 2

1

In [13]:
20 %  2

0

To the power

In [14]:
2 ** 3

8

In [15]:
2 + 10 * 10 + 3

105

Order of operations

In [16]:
(2 + 10) * (10+3)

156

In [17]:
50 + 50

100

In [18]:
110-10

100

variables

In [1]:
a =5

In [2]:
a

5

In [3]:
a =10

In [4]:
a

10

In [5]:
a + a

20

In [8]:
a = a + a

In [9]:
a

40

Reassign variables by running cell again

Use type() to discover type of variable

In [10]:
type(a)

int

In [11]:
a = 30.1

In [12]:
type(a)

float

In [14]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [15]:
my_taxes

10.0

Strings

In [16]:
'hello'

'hello'

In [17]:
"world"

'world'

In [18]:
'this is also a string'

'this is also a string'

wrap string in double qotes if single quote inside

In [19]:
"I'm going on a run"

"I'm going on a run"

In [20]:
print("HELLO")

HELLO

In [21]:
#only the second string will print
"hello world one"
"hello world two"

'hello world two'

In [22]:
#must use "print()" command
print("hello world one")
print("hello world two")

hello world one
hello world two

In [23]:
#escape sequence - new line
print('hello \n world')

hello
 world

In [24]:
#tab
print('hello \tworld')

hello 	world

In [25]:
len('I am')

4

In [26]:
#string slicing and indexing
mystring = "Hello World"

In [27]:
mystring

'Hello World'

In [28]:
mystring[0]

'H'

In [29]:
mystring[8]

'r'

In [30]:
mystring[9]

'l'

In [31]:
mystring[-3]

'r'

In [32]:
mystring='abcdefghijk'

In [33]:
#get from index 2 to end of sting
mystring[2:]

'cdefghijk'

In [34]:
#get up to the index but not including
# stop index
mystring[:3]

'abc'

In [35]:
#middle of string
mystring[3:6]

'def'

In [36]:
mystring[1:3]

'bc'

In [37]:
#step size - beginning to end
mystring[::]

'abcdefghijk'

In [38]:
#step size - jumping 2
mystring[::2]

'acegik'

In [39]:
#????  
#step size starting:step size: ending
#abcdefghijk
mystring[2:7:2]

'ceg'

In [40]:
#step size string reversal
mystring[::-1]

'kjihgfedcba'

In [41]:
#expect 'cat'
'education'[3:6]

'cat'

In [43]:
#note end index NOT included in slice
'tinker'[1:4]

'ink'

In [44]:
#immutability of strings
name = "Sam" #reassignment

In [45]:
last_letters = name[1:]  #1 name to end

In [46]:
#string concatination forms 'pam'
'p' + last_letters

'pam'

In [47]:
#concat words
x = 'Hello World'

In [48]:
x + ' it is beautiful outside!'

'Hello World it is beautiful outside!'

In [52]:
#string concat
x = x + " it is beautiful outside!"

In [53]:
x

'Hello Worldit is beautiful outside! it is beautiful outside!'

In [55]:
#multiplication with letters
letter = 'z'

In [56]:
letter * 10

'zzzzzzzzzz'

In [57]:
x = 'Hello World'

In [58]:
#build in methods x. [tab]
x.upper()

'HELLO WORLD'

In [59]:
#can reassign string
y = x.upper()

In [60]:
y

'HELLO WORLD'

In [61]:
x.lower()

'hello world'

In [62]:
x.split()

['Hello', 'World']

In [63]:
x = 'Hi this is a sting'

In [64]:
x.split()

['Hi', 'this', 'is', 'a', 'sting']

In [65]:
x.split('i') #splitting on the i and removing it

['H', ' th', 's ', 's a st', 'ng']