Calculator

In [5]:
2+1

3

In [6]:
2-1

1

In [7]:
2*2

4

In [8]:
3/2

1.5

Modulo or "Mod" Operator

In [9]:
7/4

1.75

In [10]:
7 % 4

3

In [11]:
50 % 5

0

In [12]:
23 % 2

1

In [13]:
20 %  2

0

To the power

In [14]:
2 ** 3

8

In [15]:
2 + 10 * 10 + 3

105

Order of operations

In [16]:
(2 + 10) * (10+3)

156

In [17]:
50 + 50

100

In [18]:
110-10

100

variables

In [1]:
a =5

In [2]:
a

5

In [3]:
a =10

In [4]:
a

10

In [5]:
a + a

20

In [8]:
a = a + a

In [9]:
a

40

Reassign variables by running cell again

Use type() to discover type of variable

In [10]:
type(a)

int

In [11]:
a = 30.1

In [12]:
type(a)

float

In [14]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [15]:
my_taxes

10.0

Strings

In [16]:
'hello'

'hello'

In [17]:
"world"

'world'

In [18]:
'this is also a string'

'this is also a string'

wrap string in double qotes if single quote inside

In [19]:
"I'm going on a run"

"I'm going on a run"

In [20]:
print("HELLO")

HELLO

In [21]:
#only the second string will print
"hello world one"
"hello world two"

'hello world two'

In [22]:
#must use "print()" command
print("hello world one")
print("hello world two")

hello world one
hello world two

In [23]:
#escape sequence - new line
print('hello \n world')

hello
 world

In [24]:
#tab
print('hello \tworld')

hello 	world

In [25]:
len('I am')

4

In [26]:
#string slicing and indexing
mystring = "Hello World"

In [27]:
mystring

'Hello World'

In [28]:
mystring[0]

'H'

In [29]:
mystring[8]

'r'

In [30]:
mystring[9]

'l'

In [31]:
mystring[-3]

'r'

In [32]:
mystring='abcdefghijk'

In [33]:
#get from index 2 to end of sting
mystring[2:]

'cdefghijk'

In [34]:
#get up to the index but not including
# stop index
mystring[:3]

'abc'

In [35]:
#middle of string
mystring[3:6]

'def'

In [36]:
mystring[1:3]

'bc'

In [37]:
#step size - beginning to end
mystring[::]

'abcdefghijk'

In [38]:
#step size - jumping 2
mystring[::2]

'acegik'

In [39]:
#????  
#step size starting:step size: ending
#abcdefghijk
mystring[2:7:2]

'ceg'

In [40]:
#step size string reversal
mystring[::-1]

'kjihgfedcba'

In [41]:
#expect 'cat'
'education'[3:6]

'cat'

In [43]:
#note end index NOT included in slice
'tinker'[1:4]

'ink'

In [44]:
#immutability of strings
name = "Sam" #reassignment

In [45]:
last_letters = name[1:]  #1 name to end

In [46]:
#string concatination forms 'pam'
'p' + last_letters

'pam'

In [47]:
#concat words
x = 'Hello World'

In [48]:
x + ' it is beautiful outside!'

'Hello World it is beautiful outside!'

In [52]:
#string concat
x = x + " it is beautiful outside!"

In [53]:
x

'Hello Worldit is beautiful outside! it is beautiful outside!'

In [55]:
#multiplication with letters
letter = 'z'

In [56]:
letter * 10

'zzzzzzzzzz'

In [57]:
x = 'Hello World'

In [58]:
#build in methods x. [tab]
x.upper()

'HELLO WORLD'

In [59]:
#can reassign string
y = x.upper()

In [60]:
y

'HELLO WORLD'

In [61]:
x.lower()

'hello world'

In [62]:
x.split()

['Hello', 'World']

In [63]:
x = 'Hi this is a sting'

In [64]:
x.split()

['Hi', 'this', 'is', 'a', 'sting']

In [65]:
x.split('i') #splitting on the i and removing it

['H', ' th', 's ', 's a st', 'ng']

In [2]:
#concatenate variable strings - string intropolation
my_name ="Jose"
print("Hello " + my_name)

Hello Jose

In [3]:
#.format() method
print('This is a string {}' .format('INSERTED'))

This is a string INSERTED

In [4]:
print('The {} {} {}' .format('fox','brown','quick'))

The fox brown quick

In [5]:
print('The {2} {1} {0}' .format('fox','brown','quick'))

The quick brown fox

In [6]:
print('The {q} {b} {f}' .format(f='fox',b='brown',q='quick'))

The quick brown fox

In [8]:
#float formatting follows "{value:width.precision f}"
result = 100/777

In [9]:
result

0.1287001287001287

In [10]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [11]:
#add floating precision
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [14]:
#if add whitespace with larger number like 10 instead of 1
print("The result was {r:10.5f}".format(r=result))

The result was    0.12870

In [16]:
#f string - format string literal method for formating
name = "Jose"
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [17]:
name = "Sam"
age = 3
print(f'{name} is {age} years old.')

Sam is 3 years old.

In [18]:
#Lists
my_list = [1,2,3]
my_list = ['STRING',100,23.2]

In [20]:
#length of string
len(my_list)

3

In [21]:
mylist = ['one','two','three']

In [22]:
#indexing
mylist[0]

'one'

In [23]:
#slicing
mylist[1:]

['two', 'three']

In [24]:
#concatenate lists
another_list = ['four','five']

In [25]:
#concatenated list is not saved
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [26]:
#save concat list to variable
new_list = mylist + another_list

In [27]:
new_list

['one', 'two', 'three', 'four', 'five']

In [28]:
#mutate or change elements in list
new_list[0] = 'ONE ALL CAPS'

In [29]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [30]:
#append method
new_list.append('six')

In [31]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [32]:
new_list.append('seven')

In [33]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [34]:
#remove methods from list
new_list.pop()

'seven'

In [35]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [36]:
popped_item = new_list.pop()
popped_item

'six'

In [37]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [38]:
new_list.pop(0)
new_list

['two', 'three', 'four', 'five']

In [39]:
#reverse indexing
new_list.pop(-1)
new_list

['two', 'three', 'four']

In [40]:
new_list.append('five')
new_list

['two', 'three', 'four', 'five']

In [41]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]
new_list.sort()
num_list.sort()

In [43]:
new_list

['a', 'b', 'c', 'e', 'x']

In [44]:
num_list

[1, 3, 4, 8]

In [45]:
#NoneType - sort occurs in place 

my_sorted_list = new_list.sort()

In [46]:
type(my_sorted_list)

NoneType

In [48]:
new_list.sort()
my_sorted_list = new_list #assign variable after
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [49]:
#reverse sort
num_list.reverse()
num_list

[8, 4, 3, 1]

In [50]:
lst =[0,1,2]
lst.pop()

2

In [51]:
lst=['a','b','c'] 
lst[1:]

['b', 'c']

In [2]:
#dictionary vs list
my_dict = {'key1':'value1','key2':'value2'}

In [3]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [4]:
my_dict['key1']

'value1'

In [6]:
prices_lookup={'apple':2.99,'oranges':1.99,'milk':5.80}
prices_lookup['apple']

2.99

In [11]:
#dictionary inside dicationary
d = {'k1':123, 'k2':[0,1,2],'k3':{'insideKey':100}}

d['k3']

{'insideKey': 100}

In [13]:
#dictionary - inside key
d['k3']['insideKey']

100

In [14]:
#nested objects inside dictionary
d = {'key1':['a','b','c']}
d

{'key1': ['a', 'b', 'c']}

In [15]:
mylist = d['key1']
mylist

['a', 'b', 'c']

In [17]:
#get location of index of 2
letter = mylist[2]
letter

'c'

In [18]:
#upper case of  letter c
letter.upper()

'C'

In [19]:
d
d['key1'][2].upper()

'C'

In [21]:
# add k3 to dictionary
d = {'k1':100, 'k2': 200}
d['k3'] = 300
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [22]:
#override existing value in dictionary
d['k1'] = 'NEW VALUE'
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [23]:
#view all keys in dictionary
d={'k1':100, 'k2':200, 'k3':300}
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [25]:
#all dictionary values
d.values()

dict_values([100, 200, 300])

In [26]:
#all items
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [27]:
d={'k1':[1,2,3]} 
d['k1'][1]

2

In [32]:
#Tuple example uses parenthesis
#List example uses square brackets

t = (1,2,3)
mylist = [1,2,3]
type(t)

tuple

In [33]:
type(mylist)

list

In [34]:
len(t)

3

In [35]:
t

(1, 2, 3)

In [36]:
t = ('one',2)
t[0]

'one'

In [38]:
#backwards indexing
t[-1]

2

In [40]:
#count number in touple
t = ('a','a','b')
t.count('a')

2

In [41]:
#find first time appears in tuple
t.index('a')

0

In [42]:
t.index('b')

2

In [43]:
mylist

[1, 2, 3]

In [45]:
#list reassign index 0 to be 'NEW'
mylist[0] = 'NEW'
mylist

['NEW', 2, 3]

In [47]:
#tuple cannot be reassigned - results in error
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [48]:
#tuple with list inside of it - it is valid
t = (1,2,[1,2])
t

(1, 2, [1, 2])

In [50]:
#sets - example of empty set
myset = set()
myset

set()

In [51]:
#add to the set
myset.add(1)
myset

{1}

In [52]:
myset.add(2)
myset

{1, 2}

In [53]:
# set must be unique - will not accept duplicate values
# number 2 already exists in set so this will NOt add 
#another 2
myset.add(2)
myset

{1, 2}

In [54]:
#example of no dupes in set
mylist = [1,1,1,1,1,2,2,2,2,2,3,3,3]
set(mylist)

{1, 2, 3}

In [55]:
#set returns unique values in string
set('Mississippi')

{'M', 'i', 'p', 's'}

In [56]:
#Boolean - upper case first letter
False
type(False)

bool

In [57]:
1 > 2

False

In [58]:
2 > 1

True

1 == 1

In [59]:
1 == 1

True

In [60]:
set([1,1,2,3])

{1, 2, 3}

I/O WITH BASIC FILES IN PYTHON
#create text file from jupyter notebook

In [62]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

save file into directory

In [1]:
myfile = open('myfile.txt')

In [2]:
pwd

'C:\\Users\\Claudia\\PythonProjects\\PythonSimpleExercises'

In [3]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [4]:
#second time to read
myfile.read()

''

In [5]:
#reset cursor to read file again
myfile.seek(0)

0

In [6]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [7]:
myfile.seek(0)

0

In [8]:
contents = myfile.read()
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [9]:
myfile.seek(0)

0

In [10]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [11]:
# Windows file open in another location
# myfile = open("C:\\Users\\UserName\\Folder\\test.txt")

In [12]:
#MacOs and Linux files open in another location
# myfile = open("/Users/YourUserName/Floder.myfile.txt")

In [13]:
pwd

'C:\\Users\\Claudia\\PythonProjects\\PythonSimpleExercises'

In [14]:
#always close file as best practice
myfile.close()

In [2]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [5]:
my_new_file.close()

In [7]:
#read, write,append overwrite file use "shift tab"
#read

with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [ ]:
#read,write, appending modes

# mode ='r' = read only
# mode='w' = write only (will overwrite files or create new)
# mode='a' = append only (will add on to files)
# mode='r+' = reading or writing
# mode='w+' = writing and reading (overwrites existing files, creates new file)

#below write to a new file

In [8]:
%%writefile my_newfile.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_newfile.txt

In [9]:
%%writefile my_newfile.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_newfile.txt

In [11]:
with open('my_newfile.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [14]:
with open('my_newfile.txt',mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [15]:
with open('my_newfile.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH
FOUR ON FOURTH

In [16]:
with open('sdfadl.txt',mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [17]:
with open('sdfadl.txt',mode='r') as f:
    print(f.read())

I CREATED THIS FILE!

Python syntax if not using notebook

x = open('test.txt', 'w')

x.write('Hello World')

x.close()

-----------------------
Python Practice links

Basic Practice:

http://codingbat.com/python

More Mathematical (and Harder) Practice:

https://projecteuler.net/archives

List of Practice Problems:

http://www.codeabbey.com/index/task_list

A SubReddit Devoted to Daily Practice Problems:

https://www.reddit.com/r/dailyprogrammer

A very tricky website with very few hints and touch problems (Not for beginners but still interesting)

http://www.pythonchallenge.com/

In [32]:
# write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.
(((((100.25 -.25) / 10 ) * 1) ** 2) + .25)

100.25

In [35]:
#slice e out
s = 'hello'
s[1]

'e'

In [34]:
#string reversal
s[::-1]

'olleh'

In [2]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [3]:
s ='hello'
# Print out the 'o'

# Method 2:
s[-1]

'o'