In [1]:
# control flow : and indend -  if, elseif, else

if 3>2:
    print('This is true')

This is true

In [3]:
hungry = False
if hungry:
    print('FEED ME!') #enter backspace to line up
else:
    print('Im not hungry')

Im not hungry

In [8]:
loc = 'Store'
if loc == 'Auto Shop':
    print("Cars are ocol!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

Welcome to the store!

In [10]:
name = 'Sammy'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

Hello Sammy

In [2]:
#For loops
mylist = [1,2,3,4,5,6,7,8,9,10]

In [3]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [4]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [5]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [9]:
#for loops outside print

for num in mylist:
    #check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [10]:
#for loop - print inside loop

list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    
#outside loop prints total
print(list_sum)

55

In [13]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    
    #inside loop - individual sums addeded
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [14]:
#for loop with strings - print individual letters

for string_loop in "Hello World":
    print(string_loop)

H
e
l
l
o

W
o
r
l
d

In [15]:
#for loop with strings and no vaiable

for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [16]:
#for loops with tuples

tup = (1,2,3)
for item in tup:
    print(item)

1
2
3

In [20]:
#for loops with tuples in list

mylist = [(1,2),(3,4),(5,6),(7,8)]

In [21]:
len(mylist)

4

In [22]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [24]:
#tuple packing - unpacking
for (a,b) in mylist:
    print(b)

2
4
6
8

In [25]:
for a,b in mylist:
    print(a,b)

1 2
3 4
5 6
7 8

In [41]:
mylist2 = [(1,2,3),(4,5,6),(7,8,9)]

In [44]:
for a,b,c in mylist2:
    print(b,c)

2 3
5 6
8 9

In [46]:
#print dictionary

d = {'k1':1,'k2':2,'k3':3}
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [51]:
#dictionary - print key value pair

for key,value in d.items():
    print(key,value)

k1 1
k2 2
k3 3

In [50]:
#reminder that dictionaries are unordered
#print only values

for value in d.values():
    print(value)

1
2
3

In [3]:
#while loops
x = 0
while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1 #also write x+=1
else:
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [2]:
# Break out of Infinite loop
# Kernal > Interrupt
# Kernal > Restart
# control C

In [8]:
#break, continue, pass

#break - break out of the current closest enclosing loop
#continue - goes to the top of the closest enclosing loop
#pass - does nothing at all

x = [1,2,3]
for item in x:
    #comment
    pass #do nothing at all - avoid syntax error
    print('end of my script')

end of my script
end of my script
end of my script

In [11]:
mystring = 'Sammy'

In [13]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [15]:
for letter in mystring:
    if letter == 'm':
        break
    print(letter)

S
a

In [18]:
x = 0
while x < 5:
    if x == 4:
        break
    print(x) 
    x += 1

0
1
2
3

In [19]:
# Useful operators
# Generators
# mylist = [1,2,3]

for num in range(4): # all the way to but not including
    print(num)

0
1
2
3

In [20]:
for num in range(0,5): #include first param but not last
    print(num)

0
1
2
3
4

In [21]:
for num in range(0,11,2): #include first param, by 2 not last
        print(num)

0
2
4
6
8
10

In [22]:
list(range(0,11,2)) #print value of list

[0, 2, 4, 6, 8, 10]

In [23]:
# generator - index_count
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [24]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [25]:
# index count using "enumerate"
# returns tuples

word = 'fghijk'
for item in enumerate(word):
    print(item)

(0, 'f')
(1, 'g')
(2, 'h')
(3, 'i')
(4, 'j')
(5, 'k')

In [26]:

word = 'fghijk'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
f


1
g


2
h


3
i


4
j


5
k

In [34]:
#zip function
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [35]:
for item in zip(mylist1,mylist2,mylist3):
    print(item) #returns tuples

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [38]:
#zip function - uneven only returns matching index
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d'] #only 4 value returned
mylist3 = [100,200,300,400,500]

In [42]:
for item in zip(mylist1,mylist2,mylist3):
    print(item) #returns tuples

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)

In [43]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [44]:
#unpack zip list
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d'] #only 4 value returned
mylist3 = [100,200,300,400,500]

In [45]:
for a,b,c in zip(mylist1,mylist2,mylist3):
    print(c)

100
200
300
400

In [46]:
# IN operator boolean
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [47]:
'x' in [1,2,3,4]

False

In [48]:
'x' in ['x','y','z']

True

In [49]:
2 in [1,2,3]

True

In [55]:
'a' in 'true statement this is a python'

True

In [56]:
'mykey' in {'mykey':345}

True

In [57]:
d ={'somekey':456}
456 in d.values()

True

In [58]:
456 in d.keys()

False

In [59]:
# min and max functions
mylist=[10,20,30,40,50,100]

In [60]:
min(mylist)

10

In [61]:
max(mylist)

100

In [64]:
# RANDOM LIBRARY built-in library with SPACE TAB function
from random import shuffle

In [65]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [66]:
shuffle(mylist)  #in place function only

In [67]:
mylist

[9, 2, 1, 10, 5, 6, 4, 8, 7, 3]

In [69]:
shuffle(mylist)

In [70]:
mylist

[9, 1, 7, 5, 3, 6, 8, 10, 4, 2]

In [71]:
# random integer returned
from random import randint

In [72]:
randint(0,100) #random integer between 0 and 100

32

In [73]:
mynum = randint(0,500)
mynum

379

In [3]:
#make sure to press "enter" after the value
result = input('What is your name?')

What is your name?Claudia

In [4]:
result

'Claudia'

In [1]:
fav_num = input('Favorite Number:')

Favorite Number:30

In [2]:
fav_num

'30'

In [5]:
#input is always a string
num_value = input('type a number: ')

type a number: 50

In [6]:
#this is a string
num_value

'50'

In [7]:
type(num_value)

str

In [9]:
#cast into another type
float(num_value)

50.0

In [11]:
#cast into an integer
int(num_value)

50

In [12]:
num_as_num = int(input('favorite number: '))

favorite number: 7

In [14]:
#cast a number NOT string
num_as_num

7

In [15]:
#list comprehensions

mystring = 'hello'

In [16]:
#using for loop
mylist =[]

for letter in mystring:
    mylist.append(letter)

In [17]:
mylist

['h', 'e', 'l', 'l', 'o']

In [20]:
mylist2 = [x for x in mystring]

In [21]:
mylist2

['h', 'e', 'l', 'l', 'o']

In [22]:
mylist3 = [num for num in range(0,11)]

In [23]:
#range does NOT include last number - includes first number
mylist3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
#flattened list with squared number
mylist4 = [num**2 for num in range(0,11)]

In [25]:
mylist4

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
#look for even numbers in list
mylisteven = [x for x in range(0,11) if x%2==0]

In [27]:
mylisteven

[0, 2, 4, 6, 8, 10]

In [28]:
#square of even numbers
mysquareeven = [x**2 for x in range(0,11) if x%2==0]

In [29]:
mysquareeven

[0, 4, 16, 36, 64, 100]

In [31]:
# convert celcius to fahrenheit
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [32]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [33]:
# list format

fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

In [34]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [35]:
#if and else in this one liner list comprehension
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [36]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [41]:
# nested loops in list 
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [42]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [44]:
# nested loops in list comprehension
mylist2 = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [45]:
mylist2

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]